@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Satisfy&display=swap');

:root {
    --green: #97CE68; 
    --orange: #FF9900; 
    --red: #FF6766; 
    --white: #EEFFF9; 
    --gray: #BDBAB4;
    --dark:#011C26; 
    --fb:#3b5998;
    --wapp:#25D366;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {display: block;}

body {
    font-family: 'Open Sans', sans-serif;
    
}

header {
    background: url(./img/fb/1.webp) no-repeat center center;
    background-size: cover;
    min-height: 40vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: color-mix(in srgb, var(--gray), transparent 10%);
}

.meno {
    color: var(--white);
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    font-weight: bold;
    filter: drop-shadow(0 0 0.1rem var(--dark));
}

.socials {
    display: flex;
    gap:1rem;
}

.socials a svg {
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(0 0 0.05rem var(--dark));
}

.fb svg {
    color:var(--fb);
}

.fb svg:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}

.wapp svg {
    color:var(--wapp);
}
.wapp svg:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}

header {
    margin:auto;
}

header h1 {
    color:var(--white);
    font-size: 1.75rem;
    margin:1rem 1rem;
    text-align: center;
    filter: drop-shadow(0 0 0.1rem var(--dark));
    text-shadow: 0 0 0.1rem var(--gray);
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap:1rem;
    padding: 1rem 0;
    margin:auto;
}

.buttons a {
    text-decoration: none;
    color:var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    background-color: var(--color);
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem -0.25rem black;
}

.buttons a[data-type="sluzby"] {
    --color:var(--green);
}
.buttons a[data-type="galeria"] {
    --color:var(--orange);
}
.buttons a[data-type="cvicak"] {
    --color:var(--red);
}

.buttons a:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 0.1rem var(--dark));
    transition-duration: .2s;
}

#sluzby {
    background-color: var(--green);
    color: var(--dark);
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin:2rem auto;
    padding: 1.25rem;
    border-radius: 1rem;
    background-color: color-mix(in srgb, var(--gray), transparent 40%);
    box-shadow: 0 0 0.5rem -0.25rem var(--dark);
}

.box .material-symbols-rounded {
    font-size: 4rem;
    color: var(--red);
    filter: drop-shadow(0 0 0.05rem var(--dark));

}

.box h2 {
    font-size: 1.25rem;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: color-mix(in srgb, var(--orange), transparent 40%);
}

dialog {
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--dark);
    background-color: var(--gray);
    padding:10%;
    margin: auto;
    width: 80%;
    height: 60%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color:white;
}

dialog .zavri {
    max-width: 50%;
    font-size: 1.25rem;
    margin: 1rem auto;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--orange);
    filter: drop-shadow(0 0 0.1rem var(--dark));
}

.galeria {
    display: grid;
    place-content: center;
    width: 75%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem -0.25rem var(--dark);
}

.nazovGalerie {
    color: var(--white);
    font-size: 3rem;
    filter: drop-shadow(0 0 0.1rem var(--dark));
    text-shadow: 0 0 0.1rem var(--gray);
}

.images {
    display: flex;
    flex-direction: column;
    gap:1rem;
    max-height: auto;
    max-width: 100%;
}


.hoverGaleria:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}

.faron {
    background: url(./img/faron/44.webp) no-repeat center center;
    background-size: cover;
}

.fram {
    background: url(./img/fram/10.webp) no-repeat center center;
    background-size: cover;
}