* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {display: block;}

ul {
    background-color: black;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
}

li {
    border-radius: 0.5rem 0.01rem 0.5rem 0.01rem;
    background-color: white;
    margin: 1rem 0;
    width: 4rem;
    height: 2rem;
}

li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cards {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.card {
    margin: 0 0.5rem;
    border: 0.05rem solid #333;
    border-radius: 2rem 0.1rem 2rem 0.1rem;
    max-width: 28rem;
    box-shadow: 0.1rem 0.1rem 2rem hsla(0, 2%, 28%, 0.527);
    
}

.card-inside {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    
}

.card img {
    border: 0.05rem solid #333;
    border-radius: 50%;
    margin: 2rem;
    width: 100%;
    align-self: center;
    filter: drop-shadow(0 0 0.75rem #33333366);
}



