* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

@media (min-width:600px) {
    body {
        display: grid;
        place-content: center;
        height: 100vh;
    }
}

.grid-flow {
    display: grid;
    gap: 1rem;
}

.grid-flow[data-spacing="2rem"] {
    gap:2rem;
}

.flex-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.card {
    max-width: 46rem;
    display: grid;
}

@media (min-width: 600px) {
    .card {
        border-radius: 2rem;
        margin-inline: 1rem;
        grid-template-columns: 1fr 1fr;
        box-shadow: 0 0 1rem black;
    }
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.result, .sum {
    padding: 2rem;
}

.result {
    text-align: center;
    padding-inline: 4rem;
    border-radius: 0 0 2rem 2rem;
    background-color: lightblue;
    color: whitesmoke;
}

@media (min-width:600px){
    .result {
        border-radius: 2rem;
    }
}

.score {
    width: 12rem;
    display: grid;
    border-radius: 50%;
    background-color: blue;
    margin: auto;
    align-content: center;
    aspect-ratio: 1 / 1;
}

.score span {
    display: block;
    font-size: 5rem;
    font-weight: bolder;
}

.rank {
    font-size: 1.5rem;
    font-weight: bold;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    background-color: color-mix(in srgb, var(--item), transparent 90%);
}

.item h3 {
    color: var(--item)
}

.item span {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--item)
}

.item[data-item="1"] {
    --item: blue;
}
.item[data-item="2"] {
    --item: red;
}
.item[data-item="3"] {
    --item: green;
}
.item[data-item="4"] {
    --item: orange;
}


button {
    height: 3rem;
    border: none;
    background-color: lightblue;
    color:black;
    border-radius: 100vh;
}