@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Tilt+Prism&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {display: block;}

body {
    font-family: 'Diphylleia', serif;
    background-color: bisque;
    display: grid;
    place-content: center;
    gap:1rem;
}

header {
    
    margin:1rem auto;
    text-align: center;
}

.info {
    max-width: 65%;
    margin:auto;
    padding:2rem;
    text-align: center;
}

.info h2 {
    font-size: 3rem;
    font-family: 'Tilt Prism', cursive;
}

.info h3 {
    font-size: 1.75rem;
}

.list {
    margin:auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.75rem;
    flex-wrap: wrap;
    max-width: 75%;
}

.videoImg {
    max-width: 26rem;
    display: grid;
    padding:1rem;
    background: linear-gradient(324deg, rgba(62,33,35,0.5606617647058824) 0%, rgba(212,186,133,1) 67%);
    border-radius: 0.25rem;
}

.videoImg img {
    max-width: 24rem;
    border-radius: 0.25rem;
}

.videoImg:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
    filter: drop-shadow(0 0 1rem black);
}

.videoImg p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}