@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Tilt+Prism&family=Ubuntu&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {display: block;}

body {
    font-family: 'Diphylleia', serif;
    background-color: burlywood;
    display: grid;
    place-content: center;
    gap:1rem;
    user-select: none;
}

header {
    margin:1rem auto;
    text-align: center;
}

.info {
    max-width: 65%;
    margin:auto;
    padding:2rem;
    text-align: center;
}

.info h2 {
    font-size: 6rem;
    text-shadow: 0 0 1rem red;
    font-family: 'Tilt Prism', cursive;
}

.info h2:hover {
    text-shadow: 0 0 1rem orange;
    filter:drop-shadow(0 0 0.1rem red) brightness(110%) contrast(110%);
    transition-duration: 0.5s;
}

.info h3 {
    margin-top: 1rem;
    font-size: 1.75rem;
}

.list {
    margin:auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.75rem;
    flex-wrap: wrap;
    max-width: 75%;
}

.videoImg {
    position: relative;
    max-width: 26rem;
    display: grid;
    padding:1rem;
    background: linear-gradient(277deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 0.5rem;
    z-index: 0;
}

.videoImg img {
    max-width: 24rem;
    border-radius: 0.33rem;
}

.videoImg:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
    filter: drop-shadow(0 0 1rem #333);
}

.videoImg p {
    font-family: 'Ubuntu', sans-serif;
    color: bisque ;
    background-color: #333;
    border-radius: 0.5rem;
    padding:0.25rem 1rem;
    margin: 1.5rem;
    font-size: 1.5rem;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    text-overflow: ellipsis;
}

.contrast {
    filter: contrast(150%);
    transform: scale(1.01);
    transition-duration: 0.3s;
}

dialog {
    padding:5rem 8rem;
    margin: auto;
    width: 60%;
    height: 100%;
    font-size: 4.25rem;
}