@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Noto+Sans+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;    
}

body::-webkit-scrollbar {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
    border-radius: 99999px;
    border: 0.3125em solid transparent;
    background-clip: content-box;
}

.head {
    top: 0;
    margin: auto;
    position: sticky;
    background:white;
    z-index: 9999;
}

.headShadow {
    box-shadow: 0 0 0.25rem #33333353;
}

nav {
    padding: 0.5rem 2rem;
    width: 60%;
    margin:0.5rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    
}

nav a {
    color:black;
    text-decoration: none;
}

nav .leftHead {
    display: flex;
    flex-flow: row nowrap;
}

nav .leftHead p {
    padding-left:0.5rem;
    font-size: 2rem;
    font-weight: bold;
}

nav .material-symbols-rounded {
    font-size: 2.5rem;
    color:rgb(94, 90, 250);
}


nav ul {
    margin-left:4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4rem;
    list-style: none;
}

.login {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 2rem;
}

.login a:last-child {
    font-size: 0.85rem;
    display: flex;
    gap:0.5rem;
    padding: 0.35rem 0.75rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: black;
    color:white;
}

/*INTRO ------------------------------------ */

.floatingLeft {
    width: 40%;
    display: inline-block;
    
}

.floatingRight {
    width: 59%;
    display: inline-block;
    
}

.floatingLeft div {
    transform: translateY(15rem);
    margin:auto;
    width:85px;
    height: 85px;
    background-image: url(https://wiza-edge.b-cdn.net/_nuxt/img/emf_avatar_4.2cecb86.png);
}

.floatingRight div {
    transform: translateY(15rem);
    margin-left:60%;;
    width:85px;
    height: 85px;
    background-image: url(https://wiza-edge.b-cdn.net/_nuxt/img/emf_avatar_8.5d34927.png);
}

.animate {
    animation-name: floatingImg;
    animation-duration: 2.25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.animateDelay {
    animation-delay: 0.5s;
}

@keyframes floatingImg {
    0% {
        transform: translateY(15rem)
    }

    50% {
        transform: translateY(16rem)
    }

    to {
        transform: translateY(15rem)
    }
}



.intro .info {
    font-family: 'Montserrat', sans-serif;
    width:40%;
    margin: auto;
}

.info h1 {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.info h2 {
    padding: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.25rem;
    text-align: center;
}

.intro .buttons {
    margin:1rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2rem;
}

.intro .buttons a {
    display: flex;
    align-items: center;
    gap:0.75rem;
    text-decoration: none;
    padding: 0.4rem 1rem 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: black;
    color:white;
}

.intro .buttons p {
    display: flex;
    align-items: center;
    color: #333333a3;
    font-size: 0.95em;
}

.intro .buttons a:last-child {
    color:black;
    background-color: white;
    border: 2px solid #33333352;
}

.intro h3 {
    font-weight: lighter;
    font-size: 1.1rem;
    margin: 3rem auto 1rem;
    text-align: center;
}

.intro .partners {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:1.5rem;
}