@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600&family=Rubik&display=swap');

:root {
    --purple: #24053e;
    --green: #43ffa1;
    --light: #fbf8ff;

}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces', serif;
    font-family: 'Rubik', sans-serif;
}

.head {
    color: white;
    background-color: var(--purple);
}

.logo {
    font-size: 2rem;
}

.logo span {
    font-weight: 800;
}

.head nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.underline {
    text-decoration: 0.2rem underline var(--green);
    text-underline-offset: 0.5rem;
}

.head main {
    padding: 1rem 1rem;
    text-align: center;
    margin: 0 auto;
}

.head main h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    line-height: 1.1;
}

.head main p {
    color: var(--purple);
    background-color: var(--green);
    font-weight: 600;
    max-width: 15ch;
    padding: 1rem 2rem;
    margin: 3rem auto;
}