@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600&family=Rubik&display=swap');

:root {
    --purple: #24053e;
    --green: #43ffa1;
    --light: #fbf8ff;

}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Fraunces', serif;
    font-family: 'Rubik', sans-serif;
}

section {
    background: url(./bg.webp) no-repeat center center ;
    background-size: cover;
    min-height: 68vh;

}

.head {
    color: white;
}

.logo {
    font-size: 2rem;
}

.logo span {
    font-weight: 800;
}

.head nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.underline {
    text-decoration: 0.2rem underline var(--green);
    text-underline-offset: 0.5rem;
}

.head main {
    padding: 4rem 1rem;
    text-align: center;
    margin: 0 auto;
}

.head main h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.1;
}

.head main p {
    color: var(--purple);
    background-color: var(--green);
    font-weight: 600;
    max-width: 15ch;
    padding: 1rem 2rem;
    margin: 3rem auto;
}

.box {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
}

.box span {
    display: grid;
    place-content: center;
    font-family: 'Fraunces', serif;
    padding: 1rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    outline: 1px solid var(--purple);
}

.box h2 {
    font-family: 'Fraunces', serif;
    color: var(--purple);
}

.box p {
    text-align: center;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.75rem;
    padding:2rem;
    margin-inline:1rem;
    color: white;
    background-color: var(--purple);
}

.person h2 {
    font-family: 'Fraunces', serif; ;
    font-size: 1.75rem;
    font-weight: 600;
}

.person p {
    font-size: 1rem;
    text-align: center;
    font-weight: lighter;
}

.person .button {
    color: var(--purple);
    background-color: var(--green);
    font-weight: 600;
    max-width: 20ch;
    padding: 1rem 2rem;
}

