@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600&family=Rubik&display=swap');

:root {
    --purple: #24053e;
    --green: #43ffa1;
    --light: #fbf8ff;

}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img {display: block;}

body {
    min-height: 100vh;
    font-family: 'Fraunces', serif;
    font-family: 'Rubik', sans-serif;
}

section {
    background: url(./bg.webp) no-repeat center center ;
    background-size: cover;
    min-height: 68vh;

}

@media (min-width:768px) {
    section {
        background-position: bottom center;
        min-height: 100vh;
    }
    
}

.head {
    color: white;
}

.logo {
    font-size: 2rem;
}

.logo span {
    font-weight: 800;
}

.head nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.underline {
    text-decoration: 0.2rem underline var(--green);
    text-underline-offset: 0.5rem;
}

.head main {
    padding: 4rem 1rem;
    text-align: center;
    margin: 0 auto;
}

.head main h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.1;
    max-width: 12ch;
    margin:auto;
}

.head main p {
    color: var(--purple);
    background-color: var(--green);
    font-weight: 600;
    max-width: 15ch;
    padding: 1rem 2rem;
    margin: 3rem auto;
}

.box {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
}

.box span {
    display: grid;
    place-content: center;
    font-family: 'Fraunces', serif;
    padding: 1rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    outline: 1px solid var(--purple);
}

.box h2 {
    font-family: 'Fraunces', serif;
    color: var(--purple);
}

.box p {
    text-align: center;
}

@media (min-width:768px) {
    .head nav {
        margin-inline:20%;
    } 

    .head main h1 {
        font-size: 3rem;
    }

    article .box {
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 75%;
        margin:auto;
        justify-items: start;
        align-items: center;
    }

    article .box span {
        padding: 1.25rem;
        height: 1.25rem;
        grid-area: span 2 / 1;
    }
    
    article .box h2 {
        grid-area: 1 / 2;
    }

    article .box p {
        text-align: left;
        grid-area: 2 / 2;
    }
}

@media (min-width:1280px) {

    .head nav {
        margin-inline:10%;
    }

    .head main h1 {
        font-size: 4rem;
    }

    article .box {
        max-width: 30ch;
        display: flex;
        gap:2rem;
        margin:auto;
        padding:0;
    }

    article .box span {
        padding: 1.25rem;
        height: 1.25rem;
    }

    article .box p {
        text-align: center;
    }

    .info {
        display: flex;
        max-width: 75%;
        margin: auto;
    }
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.75rem;
    padding:2rem;
    margin-inline:1rem;
    color: white;
    background-color: var(--purple);
}

.person h2 {
    font-family: 'Fraunces', serif; ;
    font-size: 1.75rem;
    font-weight: 600;
}

.person p {
    font-size: 1rem;
    text-align: center;
    font-weight: lighter;
}

.person .button {
    color: var(--purple);
    background-color: var(--green);
    font-weight: 600;
    max-width: 20ch;
    padding: 1rem 2rem;
}

.personImg {
    position: sticky;
    margin-inline: auto;
    margin-top: 5rem;
    margin-bottom: -4rem;
    padding: 0.75rem;
    background-color: var(--green);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 75%;
    max-width: 24rem;
    z-index: -1;
}

@media (min-width:1280px) {
    .personDiv {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.25fr;
        margin: 5rem auto;
        justify-items: center;
        align-items: center;
    }
    .person {
        grid-area: 1 / 2;
        max-width: 38rem;
        max-height: 21rem;
        padding: 4rem;
        align-items: flex-start;
    }

    .person h2 {
        font-size: 2.5rem;
    }

    .person p {
        font-size: 0.9rem;
        text-align: left;
    }

    .personImg {
        transform: translateX(-25rem) translateY(-5rem);
        grid-area: 1 / 2;
        margin:0;
        width: 100%;
    }

    .info {
        margin: 10rem auto;
    }

}

footer {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

footer .socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.socials svg {
    opacity: 60%;
    height: 1.5rem;
    width: 1.5rem;
}

.socials svg:hover {
    opacity: 100%;
}

