@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {display: block;}

nav {
    padding: 1rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav .logo {
    margin-right: 1rem;
}

nav .navButton {
    margin-right: 0.5rem;
    padding: 0 1rem;
    outline: 1px solid #33333335;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem #33333320;
}

nav .navButton svg {
    margin-right: 0.5rem;
}

nav h2 {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

nav ul {
    padding-left:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    letter-spacing: 0.1rem;
}

nav li {
    margin-left: 1rem;
}

nav a {
    font-size: 1rem;
    font-weight: bold;
    color:black;
    text-decoration: none;
}

nav a:hover {
    color:blue;
}

section {
    background: rgb(208,191,233);
    background: linear-gradient(90deg, rgba(208,191,233,0.40379901960784315) 0%, rgba(235,229,199,0.30015756302521013) 100%);
    width: 100%;
    padding-top: 4rem;
}

section div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.intro h1 {
    display: block;
    margin: 1.5rem 1rem 1.5rem 1rem;
    font-size: 4rem;
    text-align: center;
    line-height: 100%;
}

.intro p {
    display: block;
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.intro .nowrap {
    display: block;
    white-space: nowrap;
}
.intro span {
    display: block;
}
.intro .buttons {
    margin-top:0;
    flex-direction: row;
    gap:1rem;
}

.intro .pInfo {
    opacity: 75%;
    padding-top:2rem;
    flex-direction: row;
    gap:2rem;
    color:#333;
}

.intro .pInfo p {
    font-size:1rem;
    letter-spacing: normal;
}

.buttons a {
    font-size: 1rem;
    font-weight: bolder;
    padding: 1rem 2rem;
    outline: 1px solid #33333351;
    background-color: white;
    color:black;
    border-radius: 0.5rem;
    text-decoration: none;
}

.buttons a:nth-child(1) {
    background-color: blue;
    outline: 1px solid blue;
    color: white;
}

.buttons a:last-child {
    margin:0;
    padding:0.5rem 1rem;
    color:red;
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
    gap:0.5rem;
}

.buttons svg {
    display: inline-block;
}

.icons {
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
    padding-top:6rem;
    width: 75%;
    margin:auto;
}

.iconLogo {
    max-width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #33333335;
    border-radius: 1rem;
    color: black;
    background-color: white;
}

.iconLogo img {
    width: 50%;
    display: flex;
}

.iconLogo p {
    margin: 0;
    padding: 0;
    display: flex;
}

.videoSection {
    margin: 6rem 0;
}

.videoSection .video {
    width: 50%;
}

.videoSection video {
    outline: 0.1rem solid #33333335;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem #33333320;
    width: 100%;
    height: auto;
}